<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steganography Web App</title>
</head>
<body>
    <h1>Steganography</h1>
    <form action="/operation" method="post" enctype="multipart/form-data">
        <label for="file">Select Image:</label>
        <input type="file" name="file" id="file" accept=".png, .jpg, .jpeg"><br>
        <label for="operation_type">Select Operation:</label>
        <select name="operation_type" id="operation_type">
            <option value="hide">Hide Data</option>
            <option value="extract">Extract Data</option>
        </select><br>
        <label for="message">Enter Message:</label>
        <input type="text" name="message" id="message"><br>
        <button type="submit">Perform Operation</button>
    </form>
    {% if success_hide %}
        <p style="color: green;">{{ success_hide }}</p>
        <p><a href="{{ secret_path }}" target="_blank">Download Hidden Image</a></p>
    {% endif %}
    {% if success_extract %}
        <p style="color: green;">{{ success_extract }}</p>
        <p>Extracted Message: {{ extracted_message }}</p>
    {% endif %}
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
</body>
</html>
